@font-face {
font-family: "RobotoMono";
src: url("fonts/RobotoMono.ttf");
}

@font-face {
font-family: "RobotoMono-SemiBold";
src: url("fonts/RobotoMono-SemiBold.ttf");
}

@font-face {
font-family: "Outfit-Black";
src: url("fonts/Outfit-Black.ttf");
}

@font-face {
font-family: "Outfit-Bold";
src: url("fonts/Outfit-Bold.ttf");
}