* {
	transition: all 0.3s;
	color: #dedede;
}

html,body {
	background-color: #080a0d!important;
	font-family: Roboto-Mono;
	text-decoration: none;
	overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 1em;
}

::-webkit-scrollbar-track {
	background-color: #080a0d!important;
}

::-webkit-scrollbar-thumb {
	background-color: #b0b0b0!important;
}
a {
	color: #35c349;
}

p {
	color: #dedede;
}

h2 {
	font-family: RobotoMono-SemiBold;
}

.fab {
	font-weight: 500;
	font-size: 30px;
	padding-right: 1rem;
}

.p-5{
	padding: 1.5rem !important;
	max-width: 100em;
}

.imprint-navbar {
	background-color: #080a0d!important;
	text-align: center;
	pointer-events: none;
}

.imprint-navbar-fixed {
	text-align: center;
	position: fixed;
	pointer-events: none;
}

@media (max-width: 650px) {
.imprint-navbar-fixed {

position: unset;

}
}

.imprint-content {
	background-color: #080a0d!important;
	color: White;
}

.about-imprint {
	font-size: 17px;
}


.about {
	font-size: 17px;
}


.credits {
	font-size: 32px;
	color: #35c349;
	text-decoration: none;
}





.creddits-inner {
	position: sticky;
}

.creddits-style {
	font-family: RobotoMono-SemiBold;
	color: #35c349;
	text-decoration: none;
}

.active-creddit {
	color: #35c349;
}

.creddits-style:hover {
	color: #dedede;
}

p {
	font-size: 17px;
	font-family: RobotoMono;
}

.border-cut {
	padding-top: 25px;
	border-bottom: 2px solid #dedede!important;
}

.border-cut-2 {
	padding-top: 50px;
	border-bottom: 2px solid #dedede!important;
}

.imprint-copyright {
	font-size: 14px;
}



#imprint-intro-anim {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 999;
  pointer-events: none;
  animation: fadeOut forwards;
  animation-delay: 2s;
  -moz-animation-name: fadeOut;
  -webkit-animation-name: fadeOut;
  -ms-animation-name: fadeOut;
  animation-name: fadeOut;
  animation-duration: 2s;
}

@keyframes fadeOut {
    0% { opacity: 1;}
    100% { opacity: 0;}
}

.noclick-p {
	pointer-events: none;
}

.modal-header {
	border-bottom: 0px solid #080a0d!important;
}

.modal-content {
	background-color: #080a0d!important;
}

.modal-fullscreen .modal-body {
    overflow-x: hidden;
    overflow-y: scroll;
}

.nav-link {
	font-family: RobotoMono;
	padding: 0px;
	color: #dedede;
}

.nav-link:hover {
	font-family: RobotoMono-SemiBold;
	color: #35c349;
}

h5 {
	font-family: RobotoMono-SemiBold;
}

h3 {
	font-family: RobotoMono-SemiBold;
	font-size: 1rem;
}



.donation-link {
	font-family: Outfit-Black;
	text-decoration: none;
	color: #35c349;
	background-color: #080a0d!important;
	padding: 2rem;
	text-align: center;
}

.donation-link:hover {
	font-family: Outfit-Black;
	text-decoration: none;
	color: #080a0d;
	background-color: #35c349!important;
	padding: 2rem;
	text-align: center;
}



.n2-image {
	background-image: url('pressphotos/n2.jpg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	background-size: 100%;

}

.ankou-image {
	background-image: url('pressphotos/ankou.jpg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	background-size: 100%;

}

.chuye-image {
	background-image: url('pressphotos/chuyue.jpg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	background-size: 100%;

}

.catawake-image {
	background-image: url('pressphotos/catawake.jpg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	background-size: 100%;

}

.mrbill-image {
	background-image: url('pressphotos/mrbill.jpg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	background-size: 100%;

}

.result-image {
	background-image: url('pressphotos/result.jpg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	background-size: 100%;

}

.canopy-image {
	background-image: url('pressphotos/canopy.jpg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	background-size: 100%;

}

.gyrofield-image {
	background-image: url('pressphotos/gyros.jpg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	background-size: 100%;

}

.nonyu-image {
	background-image: url('pressphotos/nonyu.jpg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	background-size: 100%;

}

.dictate-image {
	background-image: url('pressphotos/dictate.png');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	background-size: 100%;

}

.kinoteki-image {
	background-image: url('pressphotos/kinoteki.jpg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	background-size: 100%;

}

.hydrae-image {
	background-image: url('pressphotos/');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	background-size: 100%;

}

.kelbin-image {
	background-image: url('pressphotos/kelbin.jpg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	background-size: 100%;

}

.nvctve-image {
	background-image: url('pressphotos/nvctve.jpg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	background-size: 100%;
}

.volant-image {
	background-image: url('pressphotos/volant.png');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	background-size: 100%;

}

.luna-image {
	background-image: url('pressphotos/luna.jpg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	background-size: 100%;

}

.matt-image {
	background-image: url('pressphotos/mateusz.png');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	background-size: 100%;

}

.adrian-image {
	background-image: url('pressphotos/adrian.png');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	background-size: 100%;

}

.hydrae-image {
	background-image: url('pressphotos/hydrae.jpg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	background-size: 100%;

}

.viktor-image {
	background-image: url('pressphotos/viktor.png');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	background-size: 100%;

}

.btn-close {
	color: #dedede!important;
background: url('exit.svg');
}

.padding-cust {
	padding-top: 5rem!important;
}